body {
  position: relative;
  overflow-x: hidden;
}

/* ******************
 * ***** #landing ***
* ******************* */

.landing {
  width: 100vw;
  height: 10vh;
}

.landing__navbar {
  width: 100%;
  height: 10%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1.1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  background-color: var(--dark-blue);
  z-index: 99999999999999999999;
}

.landing__navbar__brand {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 1.3rem;
}

.landing__navbar a {
  color: var(--white-color);
}

.landing__navbar__list {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .landing__navbar__list {
    width: 18rem;
    height: 15rem;
    position: absolute;
    top: 10vh;
    right: -42%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-blue);
    z-index: 99999999;
    transition: right 0.3s ease-in, top 0.3s ease-in;
  }
}

@media (max-width: 700px) {
  .landing__navbar__list {
    right: -100%;
  }
}

.show-list {
  top: 10vh;
  right: 0%;
}

.landing__navbar__list__item {
  margin: 0 20px 0;
  position: relative;
}

@media (max-width: 768px) {
  .landing__navbar__list__item {
    margin-bottom: 10px;
  }
}

.landing__navbar__list__item__link-icon {
  position: relative;
}

.landing__navbar__list__item__link-icon,
.landing__navbar__list__item__link-name {
  font-size: 0.8rem;
  text-transform: capitalize;
}

@media (max-width: 768px) {
  .landing__navbar__list__item {
    margin: 15px 0 !important;
  }
}

.landing__navbar__list__item__link__number {
  width: 20px;
  height: 20px;
  line-height: 20px;
  display: inline-block;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -12px;
  right: -14px;
  background-color: var(--light-red);
  color: var(--white-color);
  font-size: 0.8rem;
  font-weight: 400;
  z-index: 9;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in;
}

.show-number {
  visibility: visible;
  opacity: 1;
}

.dis-none {
  display: none !important;
}

.landing__navbar__list__item__items {
  width: 9rem;
  height: fit-content;
  padding: 10px;
  text-align: center;
  position: absolute;
  top: 6vh;
  left: -8vh;
  font-size: 0.8rem;
  font-weight: bold;
  color: var(--white-color);
  text-transform: capitalize;
  background-color: var(--dark-blue);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in;
}

.landing__navbar__list__item__items div p {
  margin: 10px 0;
  text-align: center;
}

.show-products {
  visibility: visible;
  opacity: 1;
}

.toggle-menu {
  width: 30px;
  height: 16px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  display: none;
}

.toggle-menu span {
  width: 100%;
  height: 2px;
  display: block;
  background-color: var(--white-color);
}

@media (max-width: 768px) {
  .toggle-menu {
    display: flex;
    z-index: 99999999999;
  }
}

/* * **************************************************** */

/* ******************
 * ***** #form ******
* ******************* */

.land__inputs {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.land__inputs__section {
  width: 26rem;
  height: 19rem;
  padding: 35px 20px;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white-color);
  z-index: 1;
  transition: 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .land__inputs__section {
    width: 20rem;
  }
}

.land__inputs__section__form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.land__inputs__section__form__title {
  margin-bottom: 10px;
  font-size: 1.7rem;
  font-weight: 400;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 1.4px;
  color: rgba(0, 0, 0, 0.603);
}

@media (max-width: 768px) {
  .land__inputs__section__form__title {
    font-size: 1.4rem;
  }
}

.land__inputs__section__form__inputs {
  width: 100%;
  height: 67%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.land__inputs__section__form__inputs input {
  width: 75%;
  padding: 10px;
  margin: 6px 0;
  border: none;
  border-radius: 7px;
  outline: none;
  font-size: 0.7rem;
  font-weight: 600;
  letter-spacing: 1.2px;
}

@media (max-width: 768px) {
  .land__inputs__section__form__inputs input {
    width: 95%;
  }
}

.land__inputs__section__form__inputs input[type="submit"] {
  margin-top: 15px;
  background-color: var(--light-green);
  cursor: pointer;
  border: none;
  outline: none;
  transition: opacity 0.3s ease-in-out;
}

.land__inputs__section__form__inputs input[type="submit"]:hover {
  opacity: 0.7;
}

.land__inputs__section__form__inputs input::placeholder {
  text-transform: capitalize;
  letter-spacing: 1px;
}

.land__inputs__form__question {
  margin: 10px auto;
  text-align: center;
  font-size: 0.8rem;
}

.land__inputs__form__question__p a {
  font-weight: bold;
  text-transform: capitalize;
  text-decoration: underline;
  color: var(--dark-blue);
}

/* * **************************************************** */

/* ******************
 * ***** #checker ***
* ******************* */

.landing__checker {
  width: fit-content;
  max-width: 16rem;
  height: 2.3rem;
  max-height: 4rem;
  border-radius: 3px;
  padding: 8px 20px;
  position: absolute;
  bottom: 4%;
  right: -15%;
  visibility: hidden;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--white-color);
  background-color: var(--light-red);
  font-size: 0.8rem;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.show-checker {
  right: 4%;
  visibility: visible;
  opacity: 1;
}
