/* ******************
 * ***** #landing ***
* ******************* */

.landing {
  width: 100vw;
  height: 100vh;
}

.landing__navbar {
  width: 100%;
  height: 10%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1.1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  background-color: var(--dark-blue);
}

.landing__navbar__brand {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 1.3rem;
}

.landing__navbar a {
  color: var(--white-color);
}

.landing__navbar__list {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .landing__navbar__list {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    position: absolute;
    top: -20vh;
    right: -42%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-blue);
    z-index: 99999999;
    transition: right 0.3s ease-in, top 0.3s ease-in;
  }
}

.show-list {
  top: 10.6vh;
  right: 3.5%;
}

.landing__navbar__list__item {
  margin: 0 20px 0;
}

@media (max-width: 768px) {
  .landing__navbar__list__item {
    margin-bottom: 10px;
  }
}

.landing__navbar__list__item__link {
  font-size: 0.8rem;
  text-transform: capitalize;
}

.toggle-menu {
  width: 30px;
  height: 16px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  display: none;
}

.toggle-menu span {
  width: 100%;
  height: 2px;
  display: block;
  background-color: var(--white-color);
}

@media (max-width: 768px) {
  .toggle-menu {
    display: flex;
    z-index: 99999999999;
  }
}

/* * **************************************************** */

/* ******************
 * ***** #form ******
* ******************* */

.landing__section {
  width: 26rem;
  height: 17rem;
  padding: 5px 20px;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white-color);
  z-index: 1;
  transition: 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .landing__section {
    width: 20rem;
  }
}

.landing__section__form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.landing__section__form__title {
  font-size: 1.7rem;
  font-weight: 400;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 1.4px;
  color: rgba(0, 0, 0, 0.603);
}

@media (max-width: 768px) {
  .landing__section__form__title {
    font-size: 1.4rem;
  }
}

.landing__section__form__inputs {
  width: 100%;
  height: 67%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.landing__section__form__inputs input {
  width: 75%;
  padding: 10px;
  margin: 6px 0;
  border: none;
  border-radius: 7px;
  outline: none;
  font-size: 0.7rem;
  font-weight: 600;
  letter-spacing: 1.2px;
}

@media (max-width: 768px) {
  .landing__section__form__inputs input {
    width: 95%;
  }
}

.landing__section__form__inputs input[type="submit"] {
  margin-top: 15px;
  background-color: var(--light-green);
  cursor: pointer;
  border: none;
  outline: none;
  transition: opacity 0.3s ease-in-out;
}

.landing__section__form__inputs input[type="submit"]:hover {
  opacity: 0.7;
}

.landing__section__form__inputs input::placeholder {
  text-transform: capitalize;
  letter-spacing: 1px;
}
